::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
